In [2]:
# import libraries
import numpy as np
import pandas as pd
import os

In [3]:
# limit output display for dataframes for convenience
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10

In [5]:
# next, we will create a dictionary of all the file names in our data folder, paths,
# sheet names, and the number of sheets
# folder path
folder_path = "C:/Users/danii/OneDrive/Desktop/Energy Data Files"
# get list of all .xlsx files in our data folder
energy_data_file_names = os.listdir(folder_path)
print(energy_data_file_names)

['expend_tot.xlsx', 'prod_btu_ff_nu.xlsx', 'prod_btu_re_te.xlsx', 'prod_phy.xlsx', 'pr_avg_tot.xlsx', 'pr_ex_cl_es.xlsx', 'pr_ex_mg.xlsx', 'pr_ex_pa_ng.xlsx', 'pr_ex_tot.xlsx', 'use_energy_source.xlsx', 'use_es_capita.xlsx', 'use_ng_capita.xlsx', 'use_oi.xlsx', 'use_pet_capita.xlsx', 'use_renew_sector.xlsx', 'use_tot_capita.xlsx', 'use_tot_realgdp.xlsx', 'use_tot_sector.xlsx']

In [6]:
# list that will store all file paths in energy data folder
energy_data_file_paths = []

# loop to create paths for each file and populate above list
for i in range(len(energy_data_file_names)): 
    path = folder_path + '/' + energy_data_file_names[i]
    energy_data_file_paths.append(path)

# view list    
print(energy_data_file_paths)

['C:/Users/danii/OneDrive/Desktop/Energy Data Files/expend_tot.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_ff_nu.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_re_te.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_phy.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_avg_tot.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_cl_es.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_mg.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_pa_ng.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_tot.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_energy_source.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_es_capita.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_ng_capita.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_oi.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_pet_capita.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_renew_sector.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_capita.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_realgdp.xlsx', 'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_sector.xlsx']

In [10]:
# list that will store all the titles of the .xlsx workbooks
# the title is in the first sheet of the workbook
full_workbook_titles = []

# loop to get workbook title using paths
for i in range(len(energy_data_file_paths)):
    workbook = pd.read_excel(energy_data_file_paths[i])   
    full_workbook_titles.append(workbook.iloc[5,0]) 
    # note: when opening a workbook (above) using pandas, 
    # it omits the first two cells that include the name of the agency and the data source
    # so despite being in cell A7 in excel the title of the workbook is in row 5, column 0 in pandas   
print(full_workbook_titles)

['Total Energy Expenditure Estimates by End-Use Sector, 1970-2020', 'Primary Energy Production Estimates, Fossil Fuels and Nuclear Energy, in Billion Btu, 1960-2020', 'Primary Energy Production Estimates, Renewable and Total Energy, in Billion Btu, 1960-2020', 'Primary Energy Production Estimates in Physical Units, 1960-2020', 'Total Energy Price Estimates by End-Use Sector, 1970-2020', 'Coal and Electricity Retail Sales Price and Expenditure Estimates, 1970-2020', 'Motor Gasoline Price and Expenditure Estimates, 1970-2020', 'Petroleum and Natural Gas Price and Expenditure Estimates, 1970-2020', 'Total Energy Price and Expenditure Estimates (Total, per Capita, and per GDP), 1970-2020', 'Primary Energy Consumption Estimates by Source, 1960-2020', 'Electricity Retail Sales, Total and Residential, Total and per Capita, 1960-2020', 'Natural Gas Consumption Estimates, Total and per Capita, 1960-2020', 'Population, GDP*, and Degree Days, 1960-2020', 'Petroleum Consumption Estimates, Total and per Capita, 1960-2020', 'Renewable Energy Consumption Estimates by Source, 1960-2020', 'Total Energy Consumption Estimates per Capita by End-Use Sector, 1960-2020', 'Total Energy Consumption Estimates, Real Gross Domestic Product (GDP), Energy Consumption Estimates per Real Dollar of GDP, 1960-2020', 'Total Energy Consumption Estimates by End-Use Sector, 1960-2020']

In [7]:
# get number of sheets in each workbook in case we need to write a loop later
num_sheets = []

for i in range(len(energy_data_file_paths)):
    df = pd.ExcelFile(energy_data_file_paths[i])
    sheet_count = len(df.sheet_names)
    num_sheets.append(sheet_count)
    
num_sheets

[6, 5, 6, 6, 6, 5, 4, 5, 5, 6, 5, 5, 6, 5, 6, 6, 4, 6]

In [8]:
# get list of lists of sheet names in the 
sheet_names = []

for i in range(len(energy_data_file_paths)):
    df = pd.ExcelFile(energy_data_file_paths[i])
    sheet_names.append(df.sheet_names)

sheet_names

[['Contents',
  'Residential Sector',
  'Commercial Sector',
  'Industrial Sector',
  'Transportation Sector',
  'Total'],
 ['Contents', 'Coal', 'Natural Gas', 'Crude Oil', 'Nuclear Electric Power'],
 ['Contents',
  'Biofuels',
  'Wood and Waste',
  'Other Renewables',
  'Total Renewables',
  'Total Primary Energy'],
 ['Contents', 'Coal', 'Natural Gas', 'Crude Oil', 'Fuel Ethanol', 'Biodiesel'],
 ['Contents',
  'Residential Sector',
  'Commercial Sector',
  'Industrial Sector',
  'Transportation Sector',
  'Total'],
 ['Contents',
  'Coal Prices',
  'Coal Expenditures',
  'Electricity Prices',
  'Electricity Expenditures'],
 ['Contents', 'Prices', 'Expenditures', 'Expenditures per Capita'],
 ['Contents',
  'Petroleum Prices',
  'Petroleum Expenditures',
  'Natural Gas Prices',
  'Natural Gas Expenditures'],
 ['Contents',
  'Prices',
  'Expenditures',
  'Expenditures per Capita',
  'Expenditures per GDP'],
 ['Contents',
  'Coal',
  'Natural Gas',
  'Petroleum',
  'Nuclear',
  'Total Renewable Energy'],
 ['Contents',
  'Total',
  'Total per Capita',
  'Residential',
  'Residential per Capita'],
 ['Contents', 'Cubic Feet', 'Cubic Feet per Capita', 'Btu', 'Btu per Capita'],
 ['Contents',
  'Total Population',
  'Real GDP',
  'Current-dollar GDP',
  'HDD',
  'CDD'],
 ['Contents', 'Barrels', 'Barrels per Capita', 'Btu', 'Btu per Capita'],
 ['Contents',
  'Biomass',
  'Geothermal',
  'Hydropower',
  'Solar Energy',
  'Wind Energy'],
 ['Contents',
  'Residential Sector',
  'Commercial Sector',
  'Industrial Sector',
  'Transportation Sector',
  'Total Consumption'],
 ['Contents',
  'Total Consumption',
  'Real GDP',
  'Energy Consumption per Real GDP'],
 ['Contents',
  'Residential Sector',
  'Commercial Sector',
  'Industrial Sector',
  'Transportation Sector',
  'Total Consumption']]

In [11]:
# create a dictionary pairing the the filename, the title of the workbook in the contents sheet,
# the paths, sheetnames, and number of sheets in total
energy_data_file_reference = dict(zip(energy_data_file_names, zip(full_workbook_titles, 
                                                                energy_data_file_paths, 
                                                                num_sheets, 
                                                                sheet_names)))
energy_data_file_reference
# now we can reference this later

{'expend_tot.xlsx': ('Total Energy Expenditure Estimates by End-Use Sector, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/expend_tot.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total']),
 'prod_btu_ff_nu.xlsx': ('Primary Energy Production Estimates, Fossil Fuels and Nuclear Energy, in Billion Btu, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_ff_nu.xlsx',
  5,
  ['Contents', 'Coal', 'Natural Gas', 'Crude Oil', 'Nuclear Electric Power']),
 'prod_btu_re_te.xlsx': ('Primary Energy Production Estimates, Renewable and Total Energy, in Billion Btu, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_re_te.xlsx',
  6,
  ['Contents',
   'Biofuels',
   'Wood and Waste',
   'Other Renewables',
   'Total Renewables',
   'Total Primary Energy']),
 'prod_phy.xlsx': ('Primary Energy Production Estimates in Physical Units, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_phy.xlsx',
  6,
  ['Contents',
   'Coal',
   'Natural Gas',
   'Crude Oil',
   'Fuel Ethanol',
   'Biodiesel']),
 'pr_avg_tot.xlsx': ('Total Energy Price Estimates by End-Use Sector, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_avg_tot.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total']),
 'pr_ex_cl_es.xlsx': ('Coal and Electricity Retail Sales Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_cl_es.xlsx',
  5,
  ['Contents',
   'Coal Prices',
   'Coal Expenditures',
   'Electricity Prices',
   'Electricity Expenditures']),
 'pr_ex_mg.xlsx': ('Motor Gasoline Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_mg.xlsx',
  4,
  ['Contents', 'Prices', 'Expenditures', 'Expenditures per Capita']),
 'pr_ex_pa_ng.xlsx': ('Petroleum and Natural Gas Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_pa_ng.xlsx',
  5,
  ['Contents',
   'Petroleum Prices',
   'Petroleum Expenditures',
   'Natural Gas Prices',
   'Natural Gas Expenditures']),
 'pr_ex_tot.xlsx': ('Total Energy Price and Expenditure Estimates (Total, per Capita, and per GDP), 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_tot.xlsx',
  5,
  ['Contents',
   'Prices',
   'Expenditures',
   'Expenditures per Capita',
   'Expenditures per GDP']),
 'use_energy_source.xlsx': ('Primary Energy Consumption Estimates by Source, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_energy_source.xlsx',
  6,
  ['Contents',
   'Coal',
   'Natural Gas',
   'Petroleum',
   'Nuclear',
   'Total Renewable Energy']),
 'use_es_capita.xlsx': ('Electricity Retail Sales, Total and Residential, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_es_capita.xlsx',
  5,
  ['Contents',
   'Total',
   'Total per Capita',
   'Residential',
   'Residential per Capita']),
 'use_ng_capita.xlsx': ('Natural Gas Consumption Estimates, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_ng_capita.xlsx',
  5,
  ['Contents',
   'Cubic Feet',
   'Cubic Feet per Capita',
   'Btu',
   'Btu per Capita']),
 'use_oi.xlsx': ('Population, GDP*, and Degree Days, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_oi.xlsx',
  6,
  ['Contents',
   'Total Population',
   'Real GDP',
   'Current-dollar GDP',
   'HDD',
   'CDD']),
 'use_pet_capita.xlsx': ('Petroleum Consumption Estimates, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_pet_capita.xlsx',
  5,
  ['Contents', 'Barrels', 'Barrels per Capita', 'Btu', 'Btu per Capita']),
 'use_renew_sector.xlsx': ('Renewable Energy Consumption Estimates by Source, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_renew_sector.xlsx',
  6,
  ['Contents',
   'Biomass',
   'Geothermal',
   'Hydropower',
   'Solar Energy',
   'Wind Energy']),
 'use_tot_capita.xlsx': ('Total Energy Consumption Estimates per Capita by End-Use Sector, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_capita.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total Consumption']),
 'use_tot_realgdp.xlsx': ('Total Energy Consumption Estimates, Real Gross Domestic Product (GDP), Energy Consumption Estimates per Real Dollar of GDP, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_realgdp.xlsx',
  4,
  ['Contents',
   'Total Consumption',
   'Real GDP',
   'Energy Consumption per Real GDP']),
 'use_tot_sector.xlsx': ('Total Energy Consumption Estimates by End-Use Sector, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_sector.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total Consumption'])}

In [26]:
# function that creates the dictionary we will use for referencing data in other functions
def energy_data_file_reference_function(folder_path):
    """
    Given a folder path create a dictionary pairing the the filename, the title of the workbook in the 
    contents sheet, the paths, sheetnames, and number of sheets in total.
    """
    # get list of all .xlsx files in our data folder
    energy_data_file_names = os.listdir(folder_path)
    
    # list that will store all file paths in energy data folder
    energy_data_file_paths = []

    # loop to create paths for each file and populate above list
    for i in range(len(energy_data_file_names)): 
        path = folder_path + '/' + energy_data_file_names[i]
        energy_data_file_paths.append(path)
    
    full_workbook_titles = []

    # loop to get workbook title using paths
    for i in range(len(energy_data_file_paths)):
        workbook = pd.read_excel(energy_data_file_paths[i])   
        full_workbook_titles.append(workbook.iloc[5,0]) 
        # note: when opening a workbook (above) using pandas, 
        # it omits the first two cells that include the name of the agency and the data source
        # so despite being in cell A7 in excel the title of the workbook is in row 5, column 0 in pandas 
        
    # get number of sheets in each workbook in case we need to write a loop later    
    num_sheets = []

    for i in range(len(energy_data_file_paths)):
        df = pd.ExcelFile(energy_data_file_paths[i])
        sheet_count = len(df.sheet_names)
        num_sheets.append(sheet_count)
        
    # get list of lists of sheet names in the 
    sheet_names = []

    for i in range(len(energy_data_file_paths)):
        df = pd.ExcelFile(energy_data_file_paths[i])
        sheet_names.append(df.sheet_names)
    
    # create a dictionary pairing the the filename, the title of the workbook in the contents sheet,
    # the paths, sheetnames, and number of sheets in total
    energy_data_file_reference = dict(zip(energy_data_file_names, zip(full_workbook_titles, 
                                                                    energy_data_file_paths, 
                                                                    num_sheets, 
                                                                    sheet_names)))
    return energy_data_file_reference

In [28]:
# test function - success!
folder_path = "C:/Users/danii/OneDrive/Desktop/Energy Data Files"
energy_data_file_reference = energy_data_file_reference_function(folder_path)
energy_data_file_reference

{'expend_tot.xlsx': ('Total Energy Expenditure Estimates by End-Use Sector, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/expend_tot.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total']),
 'prod_btu_ff_nu.xlsx': ('Primary Energy Production Estimates, Fossil Fuels and Nuclear Energy, in Billion Btu, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_ff_nu.xlsx',
  5,
  ['Contents', 'Coal', 'Natural Gas', 'Crude Oil', 'Nuclear Electric Power']),
 'prod_btu_re_te.xlsx': ('Primary Energy Production Estimates, Renewable and Total Energy, in Billion Btu, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_btu_re_te.xlsx',
  6,
  ['Contents',
   'Biofuels',
   'Wood and Waste',
   'Other Renewables',
   'Total Renewables',
   'Total Primary Energy']),
 'prod_phy.xlsx': ('Primary Energy Production Estimates in Physical Units, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/prod_phy.xlsx',
  6,
  ['Contents',
   'Coal',
   'Natural Gas',
   'Crude Oil',
   'Fuel Ethanol',
   'Biodiesel']),
 'pr_avg_tot.xlsx': ('Total Energy Price Estimates by End-Use Sector, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_avg_tot.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total']),
 'pr_ex_cl_es.xlsx': ('Coal and Electricity Retail Sales Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_cl_es.xlsx',
  5,
  ['Contents',
   'Coal Prices',
   'Coal Expenditures',
   'Electricity Prices',
   'Electricity Expenditures']),
 'pr_ex_mg.xlsx': ('Motor Gasoline Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_mg.xlsx',
  4,
  ['Contents', 'Prices', 'Expenditures', 'Expenditures per Capita']),
 'pr_ex_pa_ng.xlsx': ('Petroleum and Natural Gas Price and Expenditure Estimates, 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_pa_ng.xlsx',
  5,
  ['Contents',
   'Petroleum Prices',
   'Petroleum Expenditures',
   'Natural Gas Prices',
   'Natural Gas Expenditures']),
 'pr_ex_tot.xlsx': ('Total Energy Price and Expenditure Estimates (Total, per Capita, and per GDP), 1970-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/pr_ex_tot.xlsx',
  5,
  ['Contents',
   'Prices',
   'Expenditures',
   'Expenditures per Capita',
   'Expenditures per GDP']),
 'use_energy_source.xlsx': ('Primary Energy Consumption Estimates by Source, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_energy_source.xlsx',
  6,
  ['Contents',
   'Coal',
   'Natural Gas',
   'Petroleum',
   'Nuclear',
   'Total Renewable Energy']),
 'use_es_capita.xlsx': ('Electricity Retail Sales, Total and Residential, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_es_capita.xlsx',
  5,
  ['Contents',
   'Total',
   'Total per Capita',
   'Residential',
   'Residential per Capita']),
 'use_ng_capita.xlsx': ('Natural Gas Consumption Estimates, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_ng_capita.xlsx',
  5,
  ['Contents',
   'Cubic Feet',
   'Cubic Feet per Capita',
   'Btu',
   'Btu per Capita']),
 'use_oi.xlsx': ('Population, GDP*, and Degree Days, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_oi.xlsx',
  6,
  ['Contents',
   'Total Population',
   'Real GDP',
   'Current-dollar GDP',
   'HDD',
   'CDD']),
 'use_pet_capita.xlsx': ('Petroleum Consumption Estimates, Total and per Capita, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_pet_capita.xlsx',
  5,
  ['Contents', 'Barrels', 'Barrels per Capita', 'Btu', 'Btu per Capita']),
 'use_renew_sector.xlsx': ('Renewable Energy Consumption Estimates by Source, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_renew_sector.xlsx',
  6,
  ['Contents',
   'Biomass',
   'Geothermal',
   'Hydropower',
   'Solar Energy',
   'Wind Energy']),
 'use_tot_capita.xlsx': ('Total Energy Consumption Estimates per Capita by End-Use Sector, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_capita.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total Consumption']),
 'use_tot_realgdp.xlsx': ('Total Energy Consumption Estimates, Real Gross Domestic Product (GDP), Energy Consumption Estimates per Real Dollar of GDP, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_realgdp.xlsx',
  4,
  ['Contents',
   'Total Consumption',
   'Real GDP',
   'Energy Consumption per Real GDP']),
 'use_tot_sector.xlsx': ('Total Energy Consumption Estimates by End-Use Sector, 1960-2020',
  'C:/Users/danii/OneDrive/Desktop/Energy Data Files/use_tot_sector.xlsx',
  6,
  ['Contents',
   'Residential Sector',
   'Commercial Sector',
   'Industrial Sector',
   'Transportation Sector',
   'Total Consumption'])}

In [29]:
# now we will look at the format of the dataframe and see if we need to transform it
# load data set
use_tot_realgdp = pd.ExcelFile(energy_data_file_reference['use_tot_realgdp.xlsx'][1])
use_tot_realgdp_total_consumption = pd.read_excel(use_tot_realgdp, 
                                                  energy_data_file_reference['use_tot_realgdp.xlsx'][3][1])
use_tot_realgdp_total_consumption
# clearly we are gonna have to manipulate this to make it useful

,"Total energy consumption, billion Btu",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
1,State,1960.0,1961.0,1962.0,1963.0,...,2016.0,2017.0,2018.0,2019.0,2020.0
2,AK,61433.0,72173.0,78812.0,80788.0,...,593662.0,601492.0,604644.0,605689.0,640132.0
3,AL,866594.0,831311.0,881239.0,913155.0,...,1922727.0,1904206.0,1956413.0,1926332.0,1838656.0
4,AR,425974.0,431586.0,456788.0,484672.0,...,1053706.0,1057701.0,1116757.0,1096477.0,1034661.0
...,...,...,...,...,...,...,...,...,...,...,...
49,WA,807277.0,823383.0,860062.0,900608.0,...,2056396.0,2075340.0,2054390.0,2078663.0,1779399.0
50,WI,854308.0,877011.0,917963.0,940067.0,...,1801012.0,1817947.0,1896601.0,1847846.0,1708131.0
51,WV,617977.0,648667.0,656276.0,689629.0,...,762366.0,753016.0,831311.0,829454.0,803921.0
52,WY,141355.0,154474.0,173407.0,163153.0,...,504984.0,534840.0,557604.0,546671.0,504390.0
53,US,45033606.0,45684153.0,47773067.0,49605630.0,...,97351106.0,97628486.0,101193066.0,100357531.0,92862342.0

In [30]:
# drop first row bc it is empty
use_tot_realgdp_total_consumption.dropna(inplace=True)
# transpose the table so that the years are rows column
use_tot_realgdp_total_consumption = use_tot_realgdp_total_consumption.T
# set the states as the column headers
use_tot_realgdp_total_consumption.columns = use_tot_realgdp_total_consumption.iloc[0]
# view results
use_tot_realgdp_total_consumption

"Total energy consumption, billion Btu",State,AK,AL,AR,AZ,...,WA,WI,WV,WY,US
"Total energy consumption, billion Btu",State,AK,AL,AR,AZ,...,WA,WI,WV,WY,US
Unnamed: 1,1960.0,61433.0,866594.0,425974.0,282993.0,...,807277.0,854308.0,617977.0,141355.0,45033606.0
Unnamed: 2,1961.0,72173.0,831311.0,431586.0,304835.0,...,823383.0,877011.0,648667.0,154474.0,45684153.0
Unnamed: 3,1962.0,78812.0,881239.0,456788.0,324913.0,...,860062.0,917963.0,656276.0,173407.0,47773067.0
Unnamed: 4,1963.0,80788.0,913155.0,484672.0,348302.0,...,900608.0,940067.0,689629.0,163153.0,49605630.0
...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 57,2016.0,593662.0,1922727.0,1053706.0,1524720.0,...,2056396.0,1801012.0,762366.0,504984.0,97351106.0
Unnamed: 58,2017.0,601492.0,1904206.0,1057701.0,1531479.0,...,2075340.0,1817947.0,753016.0,534840.0,97628486.0
Unnamed: 59,2018.0,604644.0,1956413.0,1116757.0,1542208.0,...,2054390.0,1896601.0,831311.0,557604.0,101193066.0
Unnamed: 60,2019.0,605689.0,1926332.0,1096477.0,1556416.0,...,2078663.0,1847846.0,829454.0,546671.0,100357531.0
Unnamed: 61,2020.0,640132.0,1838656.0,1034661.0,1508154.0,...,1779399.0,1708131.0,803921.0,504390.0,92862342.0

In [31]:
# delete first row, reset the index, and rename columns
use_tot_realgdp_total_consumption.rename(columns = {"State": "Year"}, inplace = True)
# drop duplicate row 
use_tot_realgdp_total_consumption = use_tot_realgdp_total_consumption.iloc[1:]
# drop first column and reset
use_tot_realgdp_total_consumption = use_tot_realgdp_total_consumption.reset_index(drop=True)
# view results
use_tot_realgdp_total_consumption

"Total energy consumption, billion Btu",Year,AK,AL,AR,AZ,...,WA,WI,WV,WY,US
0,1960.0,61433.0,866594.0,425974.0,282993.0,...,807277.0,854308.0,617977.0,141355.0,45033606.0
1,1961.0,72173.0,831311.0,431586.0,304835.0,...,823383.0,877011.0,648667.0,154474.0,45684153.0
2,1962.0,78812.0,881239.0,456788.0,324913.0,...,860062.0,917963.0,656276.0,173407.0,47773067.0
3,1963.0,80788.0,913155.0,484672.0,348302.0,...,900608.0,940067.0,689629.0,163153.0,49605630.0
4,1964.0,85067.0,979212.0,527123.0,369663.0,...,961435.0,974857.0,729022.0,163391.0,51766732.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016.0,593662.0,1922727.0,1053706.0,1524720.0,...,2056396.0,1801012.0,762366.0,504984.0,97351106.0
57,2017.0,601492.0,1904206.0,1057701.0,1531479.0,...,2075340.0,1817947.0,753016.0,534840.0,97628486.0
58,2018.0,604644.0,1956413.0,1116757.0,1542208.0,...,2054390.0,1896601.0,831311.0,557604.0,101193066.0
59,2019.0,605689.0,1926332.0,1096477.0,1556416.0,...,2078663.0,1847846.0,829454.0,546671.0,100357531.0
60,2020.0,640132.0,1838656.0,1034661.0,1508154.0,...,1779399.0,1708131.0,803921.0,504390.0,92862342.0

In [32]:
# change state abbreviations to full state names 
# this is my preference
# list source https://gist.github.com/JeffPaine/3083347
states = {
    'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas','AZ': 'Arizona',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia',
    'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 
    'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana',
    'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts',
    'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota',
    'MO': 'Missouri', 'MS': 'Mississippi', 'MT': 'Montana', 'NC': 'North Carolina',
    'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
    'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio',
    'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island',
    'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas',
    'UT': 'Utah', 'VA': 'Virginia', 'VT': 'Vermont', 'WA': 'Washington',
    'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'US': 'All United States'
}
use_tot_realgdp_total_consumption.rename(columns=states, inplace=True)
use_tot_realgdp_total_consumption

"Total energy consumption, billion Btu",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,All United States
0,1960.0,61433.0,866594.0,425974.0,282993.0,...,807277.0,854308.0,617977.0,141355.0,45033606.0
1,1961.0,72173.0,831311.0,431586.0,304835.0,...,823383.0,877011.0,648667.0,154474.0,45684153.0
2,1962.0,78812.0,881239.0,456788.0,324913.0,...,860062.0,917963.0,656276.0,173407.0,47773067.0
3,1963.0,80788.0,913155.0,484672.0,348302.0,...,900608.0,940067.0,689629.0,163153.0,49605630.0
4,1964.0,85067.0,979212.0,527123.0,369663.0,...,961435.0,974857.0,729022.0,163391.0,51766732.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016.0,593662.0,1922727.0,1053706.0,1524720.0,...,2056396.0,1801012.0,762366.0,504984.0,97351106.0
57,2017.0,601492.0,1904206.0,1057701.0,1531479.0,...,2075340.0,1817947.0,753016.0,534840.0,97628486.0
58,2018.0,604644.0,1956413.0,1116757.0,1542208.0,...,2054390.0,1896601.0,831311.0,557604.0,101193066.0
59,2019.0,605689.0,1926332.0,1096477.0,1556416.0,...,2078663.0,1847846.0,829454.0,546671.0,100357531.0
60,2020.0,640132.0,1838656.0,1034661.0,1508154.0,...,1779399.0,1708131.0,803921.0,504390.0,92862342.0

In [17]:
# now that we have successfully transformed a dataframe, given that the files have identical structure, 
# we are going to make a functon that performs all the transformation steps to any sheet 
def table_transformer(workbook_path, sheet_name):
    """
    Takes the workbook path and sheetname from United States Energy Information Administration
    energy  data and transforms into a useable format.
    """
    # load workbook using path 
    workbook_loaded = pd.ExcelFile(workbook_path)
    # load individual worksheet
    df = pd.read_excel(workbook_loaded, sheet_name)
    # drop whole rows or columns missing values
    df = df.dropna() # can't do df = df.dropna(inplace=True) because 
    # transpose table so state are the column names and table name is in the corner
    df = df.T
    # select row to represent column names
    df.columns = df.iloc[0]
    # rename 'State' column to 'Year'
    df.rename(columns = {"State": "Year"}, inplace=True)
    # drop duplicate row
    df = df.iloc[1:]
    # since there are no decimals beyond 0, change all values to int format in dataframe
    df = df.astype('int')
    # reset the index
    df = df.reset_index(drop=True)
    # list of states
    states = {
        'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas','AZ': 'Arizona',
        'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia',
        'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 
        'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana',
        'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts',
        'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota',
        'MO': 'Missouri', 'MS': 'Mississippi', 'MT': 'Montana', 'NC': 'North Carolina',
        'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
        'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio',
        'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island',
        'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas',
        'UT': 'Utah', 'VA': 'Virginia', 'VT': 'Vermont', 'WA': 'Washington',
        'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'US': 'All United States'
    }
    # change state abbreviations to full names
    df.rename(columns = states, inplace = True)
    # return the new worksheet
    return df

In [18]:
# test function on the data we worked on- success!
x = energy_data_file_reference['use_tot_realgdp.xlsx'][1]
y = energy_data_file_reference['use_tot_realgdp.xlsx'][3][1]
z = table_transformer(x,y)
z

"Total energy consumption, billion Btu",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,All United States
0,1960,61433,866594,425974,282993,...,807277,854308,617977,141355,45033606
1,1961,72173,831311,431586,304835,...,823383,877011,648667,154474,45684153
2,1962,78812,881239,456788,324913,...,860062,917963,656276,173407,47773067
3,1963,80788,913155,484672,348302,...,900608,940067,689629,163153,49605630
4,1964,85067,979212,527123,369663,...,961435,974857,729022,163391,51766732
...,...,...,...,...,...,...,...,...,...,...,...
56,2016,593662,1922727,1053706,1524720,...,2056396,1801012,762366,504984,97351106
57,2017,601492,1904206,1057701,1531479,...,2075340,1817947,753016,534840,97628486
58,2018,604644,1956413,1116757,1542208,...,2054390,1896601,831311,557604,101193066
59,2019,605689,1926332,1096477,1556416,...,2078663,1847846,829454,546671,100357531
60,2020,640132,1838656,1034661,1508154,...,1779399,1708131,803921,504390,92862342

In [19]:
# test another table - failure! 
# due to poor handling of NaN values
x = energy_data_file_reference['use_tot_realgdp.xlsx'][1]
y = energy_data_file_reference['use_tot_realgdp.xlsx'][3][3]
z = table_transformer(x,y)
z

Total energy consumption per dollar of real Gross Domestic Product, Thousand Btu per chained (2012) dollar  Year
0                                                                                                           1960
1                                                                                                           1961
2                                                                                                           1962
3                                                                                                           1963
4                                                                                                           1964
..                                                                                                           ...
56                                                                                                          2016
57                                                                                                          2017
58                                                                                                          2018
59                                                                                                          2019
60                                                                                                          2020

[61 rows x 1 columns]

In [20]:
# we updated the function to have more targeted handling of NaNs and to specify year as an int

def table_transformer(workbook_path, sheet_name):
    """
    Takes the workbook path and sheetname from United States Energy Information Administration
    energy  data and transforms into a useable format.
    """
    # load workbook
    workbook_loaded = pd.ExcelFile(workbook_path)
    # load individual worksheet
    df = pd.read_excel(workbook_loaded, sheet_name)
    # drop rows with all NaNs
    df.dropna(axis=0, inplace=True, how="all") 
    # drop rows with less than 2 values, in this case, rows with just the years and NaNs
    df.dropna(axis=1, inplace=True, thresh=2)
    # transform table so states are column names
    df = df.T
    df.columns = df.iloc[0]
    # rename 'State' column to 'Year'
    df.rename(columns = {"State": "Year"}, inplace = True)
    # drop duplicate row
    df = df.iloc[1:]
    # set 'Year' Column to int
    df['Year'] = df['Year'].astype('int')
    # reset index 
    df = df.reset_index(drop=True)
    # list of states
    states = {
            'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas','AZ': 'Arizona',
            'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia',
            'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 
            'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana',
            'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts',
            'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota',
            'MO': 'Missouri', 'MS': 'Mississippi', 'MT': 'Montana', 'NC': 'North Carolina',
            'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey',
            'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio',
            'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island',
            'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas',
            'UT': 'Utah', 'VA': 'Virginia', 'VT': 'Vermont', 'WA': 'Washington',
            'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'US': 'US Total'
        }
    # change state abbreviations to full names
    df.rename(columns = states, inplace = True)
    # return dataframe
    return df

In [21]:
# test original table - success!
x = energy_data_file_reference['use_tot_realgdp.xlsx'][1]
y = energy_data_file_reference['use_tot_realgdp.xlsx'][3][1]
z = table_transformer(x,y)
z

"Total energy consumption, billion Btu",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,US Total
0,1960,61433.0,866594.0,425974.0,282993.0,...,807277.0,854308.0,617977.0,141355.0,45033606.0
1,1961,72173.0,831311.0,431586.0,304835.0,...,823383.0,877011.0,648667.0,154474.0,45684153.0
2,1962,78812.0,881239.0,456788.0,324913.0,...,860062.0,917963.0,656276.0,173407.0,47773067.0
3,1963,80788.0,913155.0,484672.0,348302.0,...,900608.0,940067.0,689629.0,163153.0,49605630.0
4,1964,85067.0,979212.0,527123.0,369663.0,...,961435.0,974857.0,729022.0,163391.0,51766732.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016,593662.0,1922727.0,1053706.0,1524720.0,...,2056396.0,1801012.0,762366.0,504984.0,97351106.0
57,2017,601492.0,1904206.0,1057701.0,1531479.0,...,2075340.0,1817947.0,753016.0,534840.0,97628486.0
58,2018,604644.0,1956413.0,1116757.0,1542208.0,...,2054390.0,1896601.0,831311.0,557604.0,101193066.0
59,2019,605689.0,1926332.0,1096477.0,1556416.0,...,2078663.0,1847846.0,829454.0,546671.0,100357531.0
60,2020,640132.0,1838656.0,1034661.0,1508154.0,...,1779399.0,1708131.0,803921.0,504390.0,92862342.0

In [ ]:
# test second table where the original function failed - success!
x = energy_data_file_reference['use_tot_realgdp.xlsx'][1]
y = energy_data_file_reference['use_tot_realgdp.xlsx'][3][3]
z = table_transformer(x,y)
z

In [ ]:
# test third table - success!
x = energy_data_file_reference['use_tot_realgdp.xlsx'][1]
y = energy_data_file_reference['use_tot_realgdp.xlsx'][3][2]
z = table_transformer(x,y)
z

In [33]:
# create a function that creates data frames from all the relevent sheets in the .xlsx workbooks
def sheets_to_dataframes(folder_path, excel_file):
    """
    Take a folder path and excel file name in that folder to return multiple dataframes equivelent to the 
    relevent (non-contents) sheets.
    """
    # get path to file
    energy_data_file_reference = energy_data_file_reference_function(folder_path)
    workbook_path = energy_data_file_reference[excel_file][1]
    # create empty list to which output tables will be assigned ans stored
    lst_tables = []
    for i in range(len(energy_data_file_reference[excel_file][3])):
        if i == 0: # skip 'Contents' sheet in files
            continue
        else:
            sheet_name = energy_data_file_reference[excel_file][3][i]
            lst_tables.append(table_transformer(workbook_path, sheet_name))
    return lst_tables

In [37]:
# test the function - success!
coal_phys, natgas_phys, crude_phys, eth_phys, biodiesal_phys = sheets_to_dataframes(folder_path,'prod_phy.xlsx')
coal_phys

"Coal production, thousand short tons",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,US Total
0,1960,722.0,13011.0,409.0,6.0,...,228.0,0.0,118944.0,2024.0,436425.0
1,1961,737.0,12915.0,395.0,0.0,...,191.0,0.0,113074.0,2529.0,422535.0
2,1962,871.0,12880.0,256.0,0.0,...,235.0,0.0,118499.0,2569.0,441072.0
3,1963,853.0,12359.0,221.0,0.0,...,190.0,0.0,132568.0,3124.0,479356.0
4,1964,745.0,14435.0,212.0,0.0,...,68.0,0.0,141408.0,3101.0,506453.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016,932.0,9643.0,49.0,5423.0,...,0.0,0.0,79823.0,297218.0,728364.0
57,2017,959.0,12861.0,43.0,6221.0,...,0.0,0.0,92821.0,316454.0,774609.0
58,2018,902.0,14783.0,0.0,6550.0,...,0.0,0.0,95510.0,304188.0,756167.0
59,2019,975.0,14124.0,0.0,3843.0,...,0.0,0.0,93425.0,276912.0,706309.0
60,2020,1021.0,12151.0,0.0,0.0,...,0.0,0.0,67380.0,218556.0,535434.0

In [40]:
# get all dataframes from data
# Generic 'Year' column for later time series and plotting
year = np.arange(1960,2021)

### Production ### 
# Primary Energy Production Estimates, Fossil Fuels and Nuclear Energy
coal_prod, natgas_prod, crude_prod, nuclear_prod = sheets_to_dataframes(folder_path,'prod_btu_ff_nu.xlsx')

# Primary Energy Production Estimates, Renewable and Total Energy
biofuel_prod, wood_waste_prod, other_renew_prod, tot_renew_prod, tot_ener_prod = sheets_to_dataframes(folder_path,'prod_btu_re_te.xlsx')
# Other Renewables are non_combustible like geo, hydro, solar, and wind

### Consumption ### 
# Primary Energy Consumption Estimates by Source
coal_consump, natgas_consump, petro_consump, nuclear_consump, tot_renew_consump = sheets_to_dataframes(folder_path,'use_energy_source.xlsx')
# Renewable Energy Consumption Estimates by Source
biomass_consump, geother_consump, hydro_consump, solar_consump, wind_consump = sheets_to_dataframes(folder_path,'use_renew_sector.xlsx')

### Expenditure ###
# Total Energy Price and Expenditure Estimates
tot_expend_prices, tot_expend, tot_expend_percap, tot_expend_pergdp = sheets_to_dataframes(folder_path,'pr_ex_tot.xlsx')
# Motor Gasoline Price and Expenditure Estimates
motogas_prices, motogas_expend, motogas_expend_percap = sheets_to_dataframes(folder_path,'pr_ex_mg.xlsx')
# Petroleum and Natural Gas Price and Expenditure Estimates
petro_prices, petro_expend, natgas_prices, natgas_expend = sheets_to_dataframes(folder_path,'pr_ex_pa_ng.xlsx')
# Coal and Electricity Retail Sales Price and Expenditure Estimates
coal_prices, coal_expend, elec_prices, elec_expend = sheets_to_dataframes(folder_path,'pr_ex_cl_es.xlsx')

### By Sector ###
# Total Energy Consumption Estimates by End-Use Sector
resid_consump, commer_consump, indust_consump, transp_consump, tot_sec_consump = sheets_to_dataframes(folder_path,'use_tot_sector.xlsx')
# Total Energy Consumption Estimates per Capita by End-Use Sector
resid_consump_percap, commer_consump_percap, indust_consump_percap, transp_consump_percap, tot_sec_consump_percap = sheets_to_dataframes(folder_path,'use_tot_capita.xlsx')
# Total Energy Price Estimates by End-Use Sector
resid_prices, commer_prices, indust_prices, transp_prices, tot_sec_prices = sheets_to_dataframes(folder_path,'pr_avg_tot.xlsx')
# Total Energy Expenditure Estimates by End-Use Sector
resid_expend, commer_expend, indust_expend, transp_expend, tot_sec_expend = sheets_to_dataframes(folder_path,'expend_tot.xlsx')
# Electricity Retail Sales, Total and Residential, Total and per Capita
tot_ret_elec_sales, tot_ret_elec_sales_percap, resid_elec_sales, resid_elec_sales_percap = sheets_to_dataframes(folder_path,'use_es_capita.xlsx')

### Economic Relevant Data ###
# Total Energy Consumption Estimates, Real Gross Domestic Product (GDP), 
# Energy Consumption Estimates per Real Dollar of GDP
tot_consump, realgdp2, ener_consump_per_realgdp = sheets_to_dataframes(folder_path,'use_tot_realgdp.xlsx')

In [41]:
# we will likely want to compare Total Primary and Renewable EnergyProduction, so we need to create 
# a dataframe that has the figures for total Primary Energy Production
from functools import reduce
tot_prime_prod = reduce(lambda a, b: a.add(b, fill_value=0), [coal_prod, natgas_prod, crude_prod, nuclear_prod])
tot_prime_prod['Year'] = year
tot_prime_prod.columns.name = 'Total Primary Energy Production, Billion Btu'
tot_prime_prod

"Total Primary Energy Production, Billion Btu",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,US Total
0,1960,14753.0,361419.0,241196.0,555.0,...,3720.0,0.0,3213468.0,1009859.0,39662299.0
1,1961,48831.0,356757.0,240065.0,423.0,...,3111.0,0.0,3067710.0,1079435.0,40121346.0
2,1962,75295.0,359159.0,234576.0,470.0,...,3828.0,0.0,3203966.0,1056062.0,41550582.0
3,1963,80140.0,356345.0,242605.0,1807.0,...,3095.0,0.0,3555691.0,1119785.0,43888606.0
4,1964,82096.0,403270.0,238592.0,2515.0,...,1108.0,0.0,3775457.0,1112556.0,45635735.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016,1410208.0,887673.0,1012409.0,455409.0,...,100674.0,106173.0,3752170.0,7463875.0,73915397.0
57,2017,1430575.0,971631.0,872313.0,472402.0,...,85013.0,100919.0,4276056.0,7738670.0,76982580.0
58,2018,1386446.0,966315.0,762004.0,465982.0,...,101502.0,105900.0,4700881.0,7660509.0,84266471.0
59,2019,1347588.0,972483.0,703873.0,415642.0,...,92584.0,104736.0,5118621.0,7095057.0,89960645.0
60,2020,1324288.0,917397.0,670822.0,329567.0,...,98437.0,102032.0,4978749.0,5819533.0,84097332.0

In [42]:
# Get Total Primary Energy Consumption so we can compare it with Renewable Energy Production
from functools import reduce
tot_prime_consump = reduce(lambda a, b: a.add(b, fill_value=0), [coal_consump, natgas_consump, petro_consump, nuclear_consump])
tot_prime_consump['Year'] = year
tot_prime_consump.columns.name = 'Total Primary Energy Consumption, Billion Btu'
tot_prime_consump

"Total Primary Energy Consumption, Billion Btu",Year,Alaska,Alabama,Arkansas,Arizona,...,Washington,Wisconsin,West Virginia,Wyoming,US Total
0,1960,54633.0,822116.0,370613.0,261829.0,...,439245.0,790590.0,636699.0,144087.0,42095557.0
1,1961,64860.0,806350.0,375421.0,286079.0,...,451587.0,816053.0,686663.0,160668.0,42732123.0
2,1962,71359.0,867814.0,401839.0,305494.0,...,473180.0,855941.0,690369.0,175667.0,44659301.0
3,1963,72995.0,905604.0,425951.0,322206.0,...,486496.0,886233.0,731977.0,171710.0,46516255.0
4,1964,76964.0,945962.0,463164.0,331202.0,...,518898.0,918080.0,770126.0,173195.0,48545253.0
...,...,...,...,...,...,...,...,...,...,...,...
56,2016,567400.0,2081303.0,1024847.0,1615452.0,...,1282805.0,1489296.0,1140824.0,744276.0,86791892.0
57,2017,577032.0,2037008.0,1039262.0,1593512.0,...,1270081.0,1518367.0,1101827.0,772547.0,86388103.0
58,2018,579634.0,2078988.0,1129943.0,1649977.0,...,1275407.0,1583139.0,1101736.0,792138.0,89753433.0
59,2019,582070.0,2050866.0,1083112.0,1684800.0,...,1347316.0,1526428.0,1071301.0,738964.0,88876388.0
60,2020,614585.0,1949850.0,969790.0,1546923.0,...,1135898.0,1417199.0,985400.0,697108.0,81302786.0

In [45]:
# create a class so we can access all this data later
class transformed_energy_data():
    """
    Transformed data for later use.
    """
    # Generic 'Year' column for later time series and plotting
    year = np.arange(1960,2021)

    ### Production ### 
    # Primary Energy Production Estimates, Fossil Fuels and Nuclear Energy
    coal_prod, natgas_prod, crude_prod, nuclear_prod = sheets_to_dataframes(folder_path,'prod_btu_ff_nu.xlsx')

    # Primary Energy Production Estimates, Renewable and Total Energy
    biofuel_prod, wood_waste_prod, other_renew_prod, tot_renew_prod, tot_ener_prod = sheets_to_dataframes(folder_path,'prod_btu_re_te.xlsx')
    # Other Renewables are non_combustible like geo, hydro, solar, and wind

    ### Consumption ### 
    # Primary Energy Consumption Estimates by Source
    coal_consump, natgas_consump, petro_consump, nuclear_consump, tot_renew_consump = sheets_to_dataframes(folder_path,'use_energy_source.xlsx')
    # Renewable Energy Consumption Estimates by Source
    biomass_consump, geother_consump, hydro_consump, solar_consump, wind_consump = sheets_to_dataframes(folder_path,'use_renew_sector.xlsx')

    ### Expenditure ###
    # Total Energy Price and Expenditure Estimates
    tot_expend_prices, tot_expend, tot_expend_percap, tot_expend_pergdp = sheets_to_dataframes(folder_path,'pr_ex_tot.xlsx')
    # Motor Gasoline Price and Expenditure Estimates
    motogas_prices, motogas_expend, motogas_expend_percap = sheets_to_dataframes(folder_path,'pr_ex_mg.xlsx')
    # Petroleum and Natural Gas Price and Expenditure Estimates
    petro_prices, petro_expend, natgas_prices, natgas_expend = sheets_to_dataframes(folder_path,'pr_ex_pa_ng.xlsx')
    # Coal and Electricity Retail Sales Price and Expenditure Estimates
    coal_prices, coal_expend, elec_prices, elec_expend = sheets_to_dataframes(folder_path,'pr_ex_cl_es.xlsx')

    ### By Sector ###
    # Total Energy Consumption Estimates by End-Use Sector
    resid_consump, commer_consump, indust_consump, transp_consump, tot_sec_consump = sheets_to_dataframes(folder_path,'use_tot_sector.xlsx')
    # Total Energy Consumption Estimates per Capita by End-Use Sector
    resid_consump_percap, commer_consump_percap, indust_consump_percap, transp_consump_percap, tot_sec_consump_percap = sheets_to_dataframes(folder_path,'use_tot_capita.xlsx')
    # Total Energy Price Estimates by End-Use Sector
    resid_prices, commer_prices, indust_prices, transp_prices, tot_sec_prices = sheets_to_dataframes(folder_path,'pr_avg_tot.xlsx')
    # Total Energy Expenditure Estimates by End-Use Sector
    resid_expend, commer_expend, indust_expend, transp_expend, tot_sec_expend = sheets_to_dataframes(folder_path,'expend_tot.xlsx')
    # Electricity Retail Sales, Total and Residential, Total and per Capita
    tot_ret_elec_sales, tot_ret_elec_sales_percap, resid_elec_sales, resid_elec_sales_percap = sheets_to_dataframes(folder_path,'use_es_capita.xlsx')

    ### Economic Relevant Data ###
    # Total Energy Consumption Estimates, Real Gross Domestic Product (GDP), 
    # Energy Consumption Estimates per Real Dollar of GDP
    tot_consump, realgdp2, ener_consump_per_realgdp = sheets_to_dataframes(folder_path,'use_tot_realgdp.xlsx')
    
    # a dataframe that has the figures for total Primary Energy Production
    from functools import reduce
    tot_prime_prod = reduce(lambda a, b: a.add(b, fill_value=0), [coal_prod, natgas_prod, crude_prod, nuclear_prod])
    tot_prime_prod['Year'] = year
    tot_prime_prod.columns.name = 'Total Primary Energy Production, Billion Btu'
    tot_prime_prod
    
    # Get Total Primary Energy Consumption so we can compare it with Renewable Energy Production
    tot_prime_consump = reduce(lambda a, b: a.add(b, fill_value=0), [coal_consump, natgas_consump, petro_consump, nuclear_consump])
    tot_prime_consump['Year'] = year
    tot_prime_consump.columns.name = 'Total Primary Energy Consumption, Billion Btu'
    tot_prime_consump